@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container title">
    <p class="footprints-title">footprints</p>
</div>
<div class="container">
    <div class="row">
        <div class="span6">@Html.ActionLink("add your footprint", "Add", "Footprints", null, new { @class="btn btn-primary tile-action"})
        </div>
        <div class="span6">@Html.ActionLink("view the footprints", "View", "Footprints", null, new { @class="btn btn-primary tile-action"})
        </div>

    </div>

</div>
