@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h2>Footprints</h2>
    <a class="btn btn-primary">Register</a>
    <a class="btn btn-primary">View</a>
</div>
