@{
    ViewBag.Title = "Added";
}

<div class="container">
    <div class="row">
        <div class="span12 thanks-text">
            Thanks for adding your footprint!  @Html.ActionLink("See", "ViewPrints") them all.
        </div>
    </div>

</div>
